{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}

<!-- main searchbar -->
    <form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="keyword" placeholder="Keyword" type="text"/>
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <br>
    <hr>
    <br>

    <div>
        <p>
            <b>Mixed Media</b> is a simultaneous online news search for both conservative and liberal media.<br>It is especially effective in comparing breaking news reports from right and left media outlets.<br>It is a tool for raising awareness about everyday media bias.
        </p>
        <br>
        <p>
            <b>Methodology</b><br>6 popular media outlets from the right and left have been selected based on bias ratings from <a href="https://www.mediabiasfactcheck.com">mediabiasfactcheck.com</a>.<br>Article return method is based on recent publish date rather than popularity for effective breaking news observation.
        </p>
        <br>
        <table style="width:700px" align="center">
          <tr>
            <th>Left Media</th>
            <th>Right Media</th>
          </tr>
          <tr>
            <td>Bloomberg(Left-Center Bias/FR High)<br>New York Times(Left-Center Bias /FR High)<br>CBS News(Left-Center Bias /FR High)<br>Politico(Left-Center Bias /FR High)<br>Huffington Post(Left Bias/FR High)<br>MSNBC(Left Bias/FR Mixed)</td>
            <td>Fox News(Right Bias/FR Mixed)<br>New York Post(Right Center Bias/FR Mixed)<br>Wall Street Journal(Right Center Bias/FR High)<br>Washington Times(Right Center Bias/FR High)<br>Breitbart(Right Bias/FR Mixed)<br>Forbes(Right Center Bias/FR Mixed)</td>
          </tr>
        </table>
        <br>
        <br>
        <br>
        <p>Project by Agatha Park<br><a href="https://www.agathapark.com">agathapark.com</a></p>
    </div>
{% endblock %}
