{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<!-- main searchbar -->
    <form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="keyword" placeholder="Keyword" type="text"/>
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <div>
        <p>
            <b>Mixed Media</b> is a simultaneous online news search for both conservative and liberal media.<br>It is especially effective in comparing breaking news reports from right and left media outlets.<br>It is a tool for raising awareness about everyday media bias.
        </p>
        <p>
            <b>Methodology</b><br>6 popular media outlets from the right and left have been selected based on bias ratings from mediabiasfactcheck.com.<br>Article return method based on recent publish date rather than popularity for effective breaking news observation.
        </p>
    </div>
{% endblock %}
